---
import BentoItem from "./BentoItem.astro";
import { getI18N, getLangInURL } from "@/i18n";

const lang = getLangInURL(Astro.url);
const { proyectos } = getI18N(lang);
---

<section
  class={`
    w-full max-w-[1400px]
    grid lg:grid-cols-10 auto-rows-[30rem] gap-4
    mx-auto px-2 md:px-12 lg:px-20
  `}
>
  {
    proyectos.map((project) => (
      <BentoItem
        title={project.title}
        subtitle={project.subtitle}
        description={project.description}
        img={project.img}
        class={project.class}
        tags={project.tags}
        github={project.github}
        demo={project.demo}
      />
    ))
  }
</section>
